<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LIONFIT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footersite.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/details.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/carrito.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nosotros.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pago.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pedidos.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/edit.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/LIONFIT.styles.css" asp-append-version="true" />

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">


</head>


<body>
    <div class="mi_contenedor">

        <div class="mi_container">
            <div class="pantalla-carga">
                <div class="pantalla-carga">
                    <img class="imagen_b" src="https://drive.google.com/uc?id=1pR1ZadN2j-3FoyruYQ8sNyjfGKweLmJW"
                        alt="Cargando...">
                    <div class="circulo-carga"></div>
                </div>
            </div>


            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3"
                    style="background-color: #E14545;">
                    <div class="container-fluid">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="https://drive.google.com/uc?id=1pR1ZadN2j-3FoyruYQ8sNyjfGKweLmJW" alt="LIONFIT"
                                style="max-height: 60px;width: 50px;">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1  ">
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Home"
                                        asp-action="Index">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="CatalogoProductos"
                                        asp-action="Index">Productos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Home"
                                        asp-action="Nosotros">Nosotros</a>
                                </li>
                                <partial name="_MenuAdminPartial" />
                            </ul>
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                </nav>
            </header>


            <div class="back">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <footer class="footer">
                <div class="containerfooter">
                    <div class="row">
                        <div class="footer-col">
                            <h4>LionFit</h4>
                            <ul>
                                <li><a asp-controller="Home" asp-action="Index">Nuestro Servicio</a></li>
                                <li><a href="#">privacy policy</a></li>
                            </ul>
                        </div>

                        <div class="footer-col">
                            <h4>Categorías</h4>
                            <ul>
                                <li><a href="#">Categoría 1</a></li>
                                <li><a href="#">Categoría 2</a></li>
                                <li><a href="#">Categoría 3</a></li>
                                <li><a href="#">Categoría 4</a></li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <h4>Consultas</h4>
                            <ul>
                                <li><a asp-controller="Carrito" asp-action="Index">Mi Carrito</a></li>
                                <li>
                                    <p>Medios de Pago:</p>
                                </li>
                                <li>
                                    <p style="font-size: 40px;"> <i class="fab fa-cc-visa"></i> - <i
                                            class="fab fa-cc-mastercard"></i></p>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <h4>Redes Sociales</h4>
                            <div class="social-links">
                                <a class="fb" href="https://www.facebook.com/people/LionFit-Store/100092302690244/"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="tw" href="https://twitter.com/LionFit2003"><i class="fab fa-twitter"></i></a>
                                <a class="ig" href="#"><i class="fab fa-instagram"></i></a>
                                <a class="gh" href="https://github.com/LIONFIT"><i class="fab fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>