@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav ms-auto d-flex align-items-center">


    @if (SignInManager.IsSignedIn(User))
    {

        IdentityUser myidentity  = await Task.Run(() => UserManager.GetUserAsync(User));
        var roles = await Task.Run(() => UserManager.GetRolesAsync(myidentity));

        @if(roles.Contains("admin") ){  

            <li class="nav-item">
                <form asp-controller="Productos" asp-action="Index" class="d-flex align-items-center">
                    <input type="text" name="searchString" class="form-control me-2" placeholder="Buscar">
                    <button type="submit" class="btn btn-outline-light">Buscar</button>
                </form>
            </li>

            <div class="dropdown-btn">
                <ion-icon name="person-circle-outline" alt="Botón desplegable"></ion-icon>
                <div class="dropdown-menu">

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            @User.Identity?.Name!</a>
                    </li>

                    <li class="nav-item">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                        asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="close-ses">Cerrar Sesion</button>
                        </form>
                    </li>
                </div>
            </div>

        }else{

            <li class="nav-item">
                <form asp-controller="Productos" asp-action="Index" class="d-flex align-items-center">
                    <input type="text" name="searchString" class="form-control me-2" placeholder="Buscar">
                    <button type="submit" class="btn btn-outline-light">Buscar</button>
                </form>
            </li>


            <li class="nav-item">
                <form asp-controller="Carrito" asp-action="Index">
                    <button type="submit" class="bt" >
                        <ion-icon name="cart-outline"></ion-icon>
                    </button>
                </form>
            </li>

            <div class="dropdown-btn">
                <ion-icon name="person-circle-outline" alt="Botón desplegable"></ion-icon>
                <div class="dropdown-menu">

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            @User.Identity?.Name!</a>
                    </li>

                    <li class="nav-item">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                        asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="close-ses">Cerrar Sesion</button>
                        </form>
                    </li>
                </div>
            </div>
        }
    }
    else
    {

        <li class="nav-item">
            <form asp-controller="Productos" asp-action="Index" class="d-flex align-items-center">
                <input type="text" name="searchString" class="form-control me-2" placeholder="Buscar">
                <button type="submit" class="btn btn-outline-light">Buscar</button>
            </form>
        </li>

        <div class="dropdown-btn">
            <ion-icon name="person-circle-outline" alt="Botón desplegable"></ion-icon>
            <div class="dropdown-menu">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>

            </div>
        </div>
    }
</ul>
