@model LIONFIT.Models.Boleta

@{
    ViewData["Title"] = "Edit";
}
<div class="cabina">

<div class="titu">
<h1>EDITAR PRODUCTO</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Carrito" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserID" />
            <input type="hidden" asp-for="Precio" />
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br>
<div>
    <a class="indis"asp-action="Index">Regresar</a>
</div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}