@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide mb-4" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://drive.google.com/uc?id=1qhtG5uZ-poqKo1UGb9sEAF6r7AYF1Htq" class="d-block w-100" alt="Imagen 1">
      </div>
      <div class="carousel-item">
        <img src="https://drive.google.com/uc?id=1OhPaYFSVn5MZLxtm4EPJYkcjcjQ9O-qb" class="d-block w-100" alt="Imagen 2">
      </div>
      <div class="carousel-item">
        <img src="https://drive.google.com/uc?id=1DuBYpAgVW8iTBXipi1vDPMmbM125GXoM" class="d-block w-100" alt="Imagen 3">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
  <hr>
<br>
<br>
<h1 class="text-center mb-5">Consejos de alimentación y ejercicio para una vida saludable</h1>
<br>
<br>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://drive.google.com/uc?id=1no8MiVXgVkmH9BSa367WsATOpM_qqLQT" class="card-img-top" alt="Imagen 1">
        <div class="card-body">
          <h5 class="card-title">Entrena con el plato de alimentación saludable</h5>
          <p class="card-text">Imagínate un plato normal y corriente, de esos que tienes en casa. Divídelo por la mitad. Una de esas mitades tiene que estar llena de colores: verduras, hortalizas y frutas variadas. Ahora fíjate en la otra mitad, aún vacía, y divídela de nuevo en dos partes. .</p>
          <a href="https://elpais.com/elcomidista/2019/07/26/articulo/1564140826_705837.html" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://drive.google.com/uc?id=1Ha6dAakcC-_mcjMVvbN9SuTn19x1T5Mj" class="card-img-top" alt="Imagen 2">
        <div class="card-body">
          <h5 class="card-title">Más proteína no significa más músculo</h5>
          <p class="card-text"> Uno de los mayores mitos que hay en alimentación y deporte es que, como los músculos están hechos de proteínas, es necesario consumir una gran cantidad de ellas para desarrollar masa muscular. Ya te imaginarás que esto es más falso que un unicornio y es que para desarrollar la masa muscular lo que hay que hacer es ejercitarla.</p>
          <a href="https://elpais.com/elcomidista/2019/07/26/articulo/1564140826_705837.html" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://drive.google.com/uc?id=1jXyXQ9iieTuJAgaiKMRoPkgg9x1tAe6R" class="card-img-top" alt="Imagen 3">
        <div class="card-body">
          <h5 class="card-title">Grasas, vitaminas y minerales</h5>
          <p class="card-text">Aunque practiques actividad física, no tienes que restringir el consumo de grasas. Un consumo adecuado de grasas asegura una salud óptima, ayuda a mantener el balance energético y, algo muy importante, asegura que ingiramos suficientes vitaminas liposolubles y ácidos grasos esenciales.</p>
         <a href="#" class="btn btn-primary">Ver más</a>
        </div>
        </div>
   </div>
</div>

