@{
    ViewData["Title"] = "Nosotros";
}

<body>
  <div class="wrapper">
    <header>
      <h1 class="title">Lion Fit</h1>
    </header>
    <main>
       <section class="section">
          <h2>¿Quiénes somos?</h2>
          <p>Somos una empresa dedicada a la venta de productos deportivos de alta calidad. Nuestra misión es promover un estilo de vida saludable y activo, ofreciendo productos que permitan a nuestros clientes alcanzar sus objetivos fitness y deportivos.</p>
        </section>
        <section class="section">
          <h2>Nuestra misión</h2>
          <p>En Lion Fit nos comprometemos a ser una tienda de productos deportivos líder en el mercado, ofreciendo productos de alta calidad que promuevan la salud y el bienestar de nuestros clientes. Nos esforzamos por brindar un servicio excepcional y una experiencia de compra satisfactoria.</p>
        </section>
        <section class="section">
          <h2>Nuestra visión</h2>
          <p>Nuestra visión es ser reconocidos como una empresa líder en la promoción de un estilo de vida saludable y activo a través de nuestros productos y servicios. Queremos ser la tienda de productos deportivos de preferencia para nuestros clientes y ser una marca de confianza en el mercado.</p>
        </section>

        <section class="section">
         <h2>Nos Ubicamos en ..</h2>
         <div id="map"></div>
        </section>

    </main>






    <footer>
      <p class="footer-text">Derechos reservados © Lion Fit 2023</p>
    </footer>
  </div>
</body>

<script src="~/js/script.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>