/* _content/LIONFIT/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-14inmvcuun] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar-nav .nav-link[b-14inmvcuun] {
  color: black; /* color por defecto */
}

.navbar-nav .nav-link:hover[b-14inmvcuun] {
  color: red; /* color al pasar el cursor */
}

.navbar-nav .nav-link.active[b-14inmvcuun] {
  color: red; /* color cuando el enlace está activo */
}

.navbar-nav .nav-link.text-danger[b-14inmvcuun] {
  color: red; /* color de texto en rojo */
}

.navbar-nav .nav-link.text-center[b-14inmvcuun] {

  text-align: center; /* alinear el texto al centro */
}



a[b-14inmvcuun] {
  color: #0077cc;
}

.btn-primary[b-14inmvcuun] {
  color: #fff;
  background-color: #E14545;
  border-color: #E14545;
}

.nav-pills .nav-link.active[b-14inmvcuun], .nav-pills .show > .nav-link[b-14inmvcuun] {
  color: #fff;
  background-color: #E14545;
  border-color: #E14545;
}

.border-top[b-14inmvcuun] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-14inmvcuun] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-14inmvcuun] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-14inmvcuun] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-14inmvcuun] {
  background-color: #292929;
  height: 70px;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
