.cabina {
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

/* Estilos para el título */
.titu {
  text-align: center;
}

.titu h1 {
  color: #ff6600;
}

/* Estilos para el formulario */
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.col-md-4 {
  margin: 0 10px;
}

.form-group label {
  color: #444;
}

.form-control {
  border-color: #bbb;
}

.btn-primary {
  background-color: #ff6600;
  border-color: #ff6600;
}

.btn-primary:hover {
  
  background-color: #e65c00;
  border-color: #ff6600;
  color: #fff;
}

/* Estilos para el enlace de regreso */
.indis{
 text-decoration: none;
 color: aliceblue;
 padding: 7px 15px;
background-color: #e65c00;
border-radius: 5px;
} 







