

.titulo-producto{
    text-align: center;
    background-color: rgb(230, 230, 230) !important;
}

.contenedor-producto{
padding:50px;
}

.table-producto{
    width: 100%;
}

/* crear producto */

.btn-producto{
    width: 100%;
}

.form-producto-edit{
    font-weight: bold;
}
.titulo-producto-crear{
text-align: center;
background-color: rgb(230, 230, 230) !important;
border-radius: 15px;
}
.fondo-producto-crear{

    background-color: rgb(230, 230, 230);
    border-radius: 15px;
    padding: 15px;
}

/*ELIMINAR*/

.container-eliminar{
    background-color: rgb(230, 230, 230);
    border-radius: 15px;
    padding: 20px;
    
}
/*MCI*/
.indice-IMC-container {
    max-width: 400px;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  .indice-IMC-form {
    margin-bottom: 20px;
  }
  
  .indice-IMC-label {
    display: block;
    margin-bottom: 8px;
  }
  
  .indice-IMC-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .indice-IMC-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #ca7300;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .indice-IMC-button:hover {
    background-color: #a75f02;
  }
  
  .indice-IMC-result-container {
    background-color: rgb(230, 230, 230);
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color:black;
  }